<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Contact me:</li>
          {% if site.slack_username %}
          <li>
            {% include icon-slack.html username=site.slack_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <p>{{ site.description }}</p>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          {% if site.drupal_username %}
          <li>
            {% include icon-drupal.html username=site.drupal_username %}
          </li>
          {% endif %}

          {% if site.gitlab_username %}
          <li>
            {% include icon-gitlab.html username=site.gitlab_username %}
          </li>
          {% endif %}

          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
        </ul>
      </div>
    </div>

  </div>

</footer>
