<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav site-nav-left">
      <div class="trigger">
        <a class="page-link" href="/">Home</a>
        <a class="page-link" href="/swoole">Swoole</a>
      </div>
    </nav>

    <nav class="site-nav site-nav-right">
      <div class="trigger">
        <a class="page-link" href="https://gitlab.com/daffie/daffie.gitlab.io">Edit on Gitlab</a>
      </div>
    </nav>

  </div>

</header>
